* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: rgb(245, 229, 231)
}

.Navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 40px;
    justify-content: space-around;
    
}

.Navigation a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    
}
.navigation-icones {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: black 1.5px solid;
    padding: 15px 48px;
    border-radius: 30px;
    gap: 5px;
    
}